[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-mail = "*"
flask-wtf = "*"
pillow = "*"
recordtype = "*"
flask-migrate = "*"
flask-bootstrap = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
